header {
  background-color: $color-white;
  color: $color-black;
  padding: 1.2rem;
  // width: 100%;
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

header button {
  // font-size: 1.4rem;
  // display: block;
  background-color: $color-white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

header:first-child {
  padding-left: 5rem;
}

.cta-btn {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  margin-right: 5rem;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: $color-black;
  color: $color-white;
  border-radius: 0.7rem;
  font-weight: bold;
  text-align: center;
}
